<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change password</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
</head>

<body>
    <nav class="navbar has-shadow is-dark">
        <div class="navbar-brand">
            <a class="navbar-item">
          <span class="icon is-large is-primary">
            <i class="fa fa-book"></i>
          </span>
        </a>
            <div class="navbar-burger burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <div>
                        <small>“You can't wait for inspiration. You have to go after it with a club.” ― Jack London</small>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-link">
                        {{ current_user.username }}
                    </div>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{{ url_for('logout') }}">
                            <div>
                              <span class="icon is-small">
                                <i class="fa fa-sign-out"></i>
                              </span>
                              Log out
                            </div>
                          </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="columns">
            <div class='column'></div>
            <div class="column">
                    {{ notification|safe }}
                <form enctype='multipart/form-data' method='POST'>
                    <div class="field">
                        <label class="label">Old password</label>
                        <div class="control">
                            <input name="old_password" class="input" type="password" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">New password</label>
                        <div class="control">
                            <input name="new_password" class="input" type="password" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="buttons">
                            <button class="button is-medium is-success">Change</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class='column'></div>
        </div>
    </section>
</body>

</html>